<div data-loading="project.columns.$objects">
    <div class="alert alert-warning" data-ng-if="project.columns.$objects.length === 0">
        <i class="fa fa-columns fa-4x"></i>
        <h3>No columns</h3>

        <p data-authorize="master">To get started, <a data-ng-click="create()" class="alert-link">create some columns</a> for your project or <a data-ng-click="bootstrap()" class="alert-link">use the default columns</a>.</p>

        <p data-authorize-unless="master"><a class="alert-link" href="{{ ::gitlabUrl }}/{{ project.path_with_namespace }}" target="_blank">{{ project.path_with_namespace }}</a> team does not use laboard.</p>
    </div>

    <div class="column-container" data-ng-include="'column/partials/column.html'" data-ng-repeat="column in project.columns.$objects | orderBy:'position' track by $id(column)"></div>
</div>
