<div class="modal-header">
    <h3 class="modal-title">
        Projects
        <small data-ng-show="projects.$objects.length">({{ (projects.$objects | search:projectSearch).length }} <span data-ng-if="(projects.$objects | search:projectSearch).length <= 1">project</span><span data-ng-if="(projects.$objects | search:projectSearch).length > 1">projects</span>)</small>
    </h3>
</div>

<div class="modal-body">
    <form>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Project search" data-ng-model="projectSearch">
            <span class="text-muted form-control-feedback" data-ng-click="projectSearch = ''" data-ng-show="projectSearch">
                <i class="fa fa-times-circle"></i>
            </span>
        </div>
    </form>

    <table class="table table-striped table-hover" data-loading="projects.$objects">
        <tbody>
            <tr data-ng-repeat="p in projects.$objects | filter:projectSearch | orderBy:'-last_activity_at' track by $id(p)">
                <td data-ng-click="selectProject(p)">
                    <strong>{{ p.path_with_namespace }}</strong>
                    <br data-ng-if="p.description"/>
                    <small data-ng-bind="p.description"></small>
                </td>
            </tr>
        </tbody>
    </table>
</div>
